body {
    background: linear-gradient(90deg, rgba(33,236,241,1) 0%, rgba(0,255,106,1) 100%);
    
}
.screen{
    max-width: 800px;
    margin: auto;
    word-break: break-word;
    grid-gap: 0px;
}
farben {
    background: #30706C;   
    background: #AFF0EC ;
    background: #66EDE4;
    background: #506E6C;
    background: #51BDB6;
}
.textRichtig{
	text-align: center;
	color:#00ff00;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

.textFalsch{
	text-align: center;
	color:crimson;
	font-family: Comic Sans MS, Comic Sans, cursive;
}
input[type=text]{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 12px 20px 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.headline{
    width: 60%;
    height: 20%;
    top: 0;
    background-color: rgba(0,255,106,1);
    border: 10px solid #51BDB6;
    border-radius: 40px 400px 40px 400px;
    border-bottom: 0;
    padding: 50px;
    margin: auto;

    font-size: 30px;
    text-align: center;
    color: #51BDB6;
    text-shadow: 3px 2px 0px rgba(33,236,241,1);
}
.underline {
    background-color: rgba(33,236,241,1);
    width: 60%;
    border: 10px solid #51BDB6;
    border-top: 0;
    border-radius: 400px 40px 400px 40px;
    padding: 50px;
    margin: auto; 

    font-size: 40px;
    text-align: center;
    color: #51BDB6;
    text-shadow: 3px 2px 0px rgba(0,255,106,1);
}

/** Profil CSS Layouts **/
.keyProfil {
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 3px 2px 0px silver
}
.valueProfil {
    font-size: 30px;
    text-align: center;
    color: rgb(143, 238, 240);
    text-shadow: 3px 3px 0px rgb(38, 66, 85);
    
}
.btnProfil{
    box-shadow: 10px 10px 15px silver;
    background: linear-gradient(90deg, rgb(190, 233, 219) 0%, rgb(64, 138, 235) 100%);
    padding: 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    text-transform: uppercase;
    cursor: pointer;
    color: #0b5845;
    min-width: 80px;
    margin: auto;
    margin-left: 10px;
}
.usernameKeyProfil {
    font-size: 60px;
    text-align: center;
    color: rgb(47, 235, 94);
    text-shadow: 1px 1px 0px rgb(156, 231, 106)
}
.usernameValueProfil {
    font-size: 40px;
    text-align: center;
    color: rgb(156, 231, 106);
    text-shadow: 3px 3px 0px rgb(38, 66, 85);
}
.userList {
    background: radial-gradient(circle, rgba(15,235,217,1) 0%, rgba(12,97,76,1) 100%);
    width: 80%;
    border: 10px solid #51BDB6;
    border-top: 0;
    border-radius: 40px 40px 200px 200px;
    padding: 50px;
    margin: auto; 
    text-align: center; 
    overflow-y: scroll;
    height: 500px;  
}
/*****************************************************************************************************************/

/* Follower: Benutzerliste */
.folgen {
    background: linear-gradient(90deg, rgb(124, 228, 141) 0%, rgb(64, 138, 235) 100%);
    padding: 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px;
    min-width: 80px;
    margin: auto;
}
.entfolgen {
    box-shadow: 6px 6px 10px hsla(300,15%,25%,0.3) inset;
    background: linear-gradient(90deg, rgb(243, 167, 148) 0%, rgb(64, 138, 235) 100%);
    padding: 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    text-transform: uppercase;
    cursor: pointer;
    color: #0b5845;
    min-width: 80px;
    margin: auto;

}

.followFolgtUsername {
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 3px 2px 0px silver
}

.followEntfolgtUsername {
    font-size: 40px;
    text-align: center;
    color: silver;
}
/***************************************************************************************************/

/* breite */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Hintergrund der Scrollbar*/
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* scrollbarfarbe */
  ::-webkit-scrollbar-thumb {
    background: #AFF0EC; 
    border-radius: 10px;
  }
  
  /* Scrollbarfarbe beim Hovern */
  ::-webkit-scrollbar-thumb:hover {
    background: #51BDB6; 
  }

/** Gridlayout für die BeiträgeListe**/
.gridheader { 
    grid-area: header;
    color:white;
    font-family: Comic Sans MS, Comic Sans, cursive;
   }
.gridleft { 
    grid-area: left; 
    background: #ffffaa;
  }
.gridmain { 
    grid-area: main; 
    overflow-y: scroll;
    height: 500px;
  }
.gridright { grid-area: right; }
  
.grid-container {
    box-shadow: 10px 10px 15px black;
    display: grid;
    border-radius: 10px;
    grid-template-areas:
    'left left left left right right'
    'main main main main main main'
    ;
    grid-gap: 10px;
    background-color: #30706C; 
    padding: 10px;
    position: relative;
  }
  
.grid-container > div {
    /*background: url("../Images/space.jpg");*/
    background: radial-gradient(circle, rgba(15,235,217,1) 0%, rgba(12,97,76,1) 100%);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.gridmain span {
	position: absolute;
	bottom: 5%;
	right: 5%;
}  

/**************************************************************************************************/
/* Beiträge layout für die einzelnen Beiträge im Gridmain */
.flexcontainer div {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	padding-top:5%;
	padding-bottom:5%;
	width: 80%;
    font-family: "Copperplate";
	
	border: 10px solid #51BDB6;
	border-radius: 10px;
	background-color: #66EDE4;
	font-size: 25px;
	text-align: center;
	color: white;
    text-shadow: 3px 2px 0px silver;
	position: relative;
	
}
.flexcontainer span {
	position: absolute;
	bottom: 2%;
	right: 2%;
	font-size: 15px;
	color: rgba(4,83,65,1);
}
.buttonAdd {
    font-size:50px; 
    border-radius: 10px;
    background-color: rgba(12,97,76,1);
}
.buttonAdd:hover{
	transform: scale(2.5);
    opacity: .5;
}
/************************************************************************************/

/* Navigation*/
ul{
    display: flex;
    width: 100%;
    margin: auto;
    max-width: 1000px;
    justify-content: space-between;
    text-align: center;

    top: 0;
    border: 10px solid #51BDB6;
    border-radius: 40px 400px 40px 400px;
    border-bottom: 0;
    padding: 50px;

    font-size: 30px;
    color: #51BDB6;
    text-shadow: 3px 2px 0px rgba(33,236,241,1);
}
li {
    box-shadow: 10px 10px 15px silver;
    background: linear-gradient(90deg, rgba(30,115,88,1) 0%, rgba(3,40,31,1) 100%);
    padding: 20px 40px 30px;
    border-radius: 10px 40px 10px 40px;
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
    min-width: 80px;
    margin: auto;
}

li:hover {
    background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #ef816c;
        font-weight: bold;
}
li:active {
    transform: translateY(4px);
}

@keyframes spring {
    15% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.2, 1.1);
    }
    40% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(0.95, 0.95);
    }
    75% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.05, 1);
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1, 1);
    }
}
/***********************************************************************************************************************/    
/** Modal **/
/* The Modal (background) */
.modal {
	display: none; /* Verstecken und erscheinen */
	position: fixed; 
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	-webkit-animation-name: fadeIn; /* Hintergrund ausgrauen */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s
}
  

.modal-content {
    border-radius: 40px;
    margin-left: 67%;
	position: fixed;
	bottom: 0;
	background-color: #fefefe;
	width: 30%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s
}
  
/* Button zum schließen */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
  
.modal-header {
    border-radius: 40px 40px 0px 0px;
	padding: 2px 5px;
	background-color: #5cb85c;
	color: white;
}
  
.modal-body {
    padding: 2px 16px;
}
  
.modal-footer {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}
.textFeld {
    outline: none !important;
    border:1px solid green;
    box-shadow: 0 0 10px #719ECE;
}
.textFeldError{
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}
  
/* Animation unten nach oben */
@-webkit-keyframes slideIn {
	from {bottom: -300px; opacity: 0} 
	to {bottom: 0; opacity: 1}
}
  
@keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
}
  
@-webkit-keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
}
  
@keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
}